@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0d101f;
  text-align: center;
}

.container {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

.container span{
  text-transform: uppercase;
  display: block;
}

.text1 {
  font-size: 60px;
  color: white;
}

.contact-title {
  font-size: 10px;
  margin-top: 200px;
  color: #fff;
  text-transform: uppercase;
  /* transition: all 4s ease-in-out; */
}

form {
  margin-top: 50px;
  /* transition: all 4s ease-in-out; */
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;

}

input {
  height: 45px;
}

form .submit {
  background-color: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}
