{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'mission.css' %}"/>
<title>Our Mission</title>
{% endblock %}

{% block content %}

<div class="container">
    <span class="text1">Our Mission</span>
    <span class="info">In today's society, persisting forms of inequality make it difficult for millions of children around the world to receive quality education, increasing their likeliness to drop out before completing primary education. Our goal is to eliminate this to the best of our ability and allow children worldwide to overcome the many forms of inequality so they can continue to learn regardless of their situation. We will empower children to take control of their futures and to put education first. Our mission is to help provide an education to all children, with projects focusing on providing a beacon of hope to underprivileged and minority groups. We hope to extend our outreach at every possibility given!</span>
</div>
{% endblock %}

