{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'projects.css' %}"/>
{% endblock %}

{% block content %}
<div class="title-container">
    <span class="page-title">Projects</span>
</div>
<div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="static/code.jpg" width="355.555555556" height="200">
        </div>

        <div class="contentBx">
            <h2>Python Beginner Course</h2>

            <div class="sems">
                <h3>Semesters:</h3>
                <span>1</span>
                <span>2</span>
            </div>

            <div class="sems">
                <h3>Add-Ons:</h3>
                <span>DBP</span>
                <span>ML</span>
            </div>

            <a href="#">Register</a>

        </div>
    </div>
</div>
{% endblock %}
